* {
    margin: 0px;
    padding: 0px;
    --white: 240, 246, 240;
    --black: 44, 45, 45;
    --darker: 30, 31, 31;
}

body {
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--black));
}

#border {
    position: absolute;
    width: 100%;
    height: 100%;
    border: dashed rgba(var(--darker));
    box-sizing: border-box;
}

#canvas {
    border: 4px solid rgba(var(--darker));
}

