* {
	margin:0;
	padding:0;
	--0: 240, 246, 240; /* white (text) */
	--2: 44, 50, 55; /* light (body bg) */
	--3: 37, 43, 48; /* medium (element bg) */
	--4: 30, 36, 41; /* dark (border)*/
	--purp: 90, 71, 128; /* purple (shadow/accent)*/
}

body {
	/* height: 100vh; */
	overflow: hidden;

	background-color: rgba(var(--2));
	color: rgba(var(--0));

	border: 4px solid rgba(var(--4));
	padding: 10px;

	font-family: "Consolas", "Open Sans";
    font-size: 1em;
    line-height: 1em;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bookmark {

}

.folder {
	margin-block: 10px;
}

.folder > *:not(.billboard) {
	margin-left: 20px;
}

.closed > *:not(.billboard) {
	display: none;
}

#button {
    padding: 10px;
    height: 20px;
    width: 20px;

    position: absolute;
    right: 20px;
    bottom: 20px;

    background-color: rgba(var(--purp));

    border: 4px solid rgba(var(--4));
    border-radius: 400px;

    user-select: none;

    transition-duration: 100ms;
    transition-delay: 10ms;
}

#button:hover {
    background-color: rgba(var(--purp), .75);
}

#button:active {
    background-color: rgba(var(--purp), .5);

    transition-duration: 100ms;
    transition-delay: 0ms;
}

#plus-image {
    max-width: 100%;
    max-height: 100%;
}